@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-purple: #1d0335;
  --color-semi-dark-purple: #7735b6;
  --color-light-purple: #c09fdc;
  --color-yellow: #f2c356;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
